#[client]
#port = 3306
#socket = mysql
#default-character-set = utf8

[mysqld]
port = 3306
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
default-character-set = utf8
init_connect = 'SET NAMES utf8'
character-set-server = utf8
collation-server = utf8_general_ci
default-storage-engine=INNODB
default_table_type = INNODB
max_join_size = 4294967295

# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1

innodb_data_home_dir = /var/lib/mysql/
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = /var/log/innodblogs/
innodb_log_arch_dir = /var/log/innodblogsarchive/
innodb_buffer_pool_size = 160M
innodb_additional_mem_pool_size = 20M
innodb_log_file_size = 40M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
